In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("C:/Users/Matt/Desktop/hackathons/APHRC/data/synthetic_facility_v2.csv")

In [3]:
data.head()

,recnr,facilityname,firstname,lastname,petname,dob,sex,nationalid,patientid,visitdate
0,1,HC-V,Zaina,Hanifa,Kasozi,09-09-1930 00:00,2,NaN,20001,07-10-2019
1,2,HC-II,Godfrey,Maganda,Kirabo,02-07-1934 00:00,1,NaN,20002,10-09-2018
2,3,HC-III,Kasim,Ngobi,Malaika,11-02-1983 00:00,1,NaN,20003,14-12-2022
3,4,HC-IV,Esther,NaN,Bwino,30-07-1968 00:00,2,NaN,20004,09-06-2023
4,5,HC-V,Sumaya,Swabula,Kato,30-11-1930 00:00,2,NaN,20005,07-02-2019

In [4]:
data.shape

(4115, 10)

In [5]:
data.isnull().sum()

recnr              0
facilityname       0
firstname          2
lastname          84
petname          284
dob                0
sex                0
nationalid      4115
patientid          0
visitdate          0
dtype: int64

In [6]:
df = pd.DataFrame(data)

In [7]:
df = df.drop(['nationalid'], axis=1)
df.head()

,recnr,facilityname,firstname,lastname,petname,dob,sex,patientid,visitdate
0,1,HC-V,Zaina,Hanifa,Kasozi,09-09-1930 00:00,2,20001,07-10-2019
1,2,HC-II,Godfrey,Maganda,Kirabo,02-07-1934 00:00,1,20002,10-09-2018
2,3,HC-III,Kasim,Ngobi,Malaika,11-02-1983 00:00,1,20003,14-12-2022
3,4,HC-IV,Esther,NaN,Bwino,30-07-1968 00:00,2,20004,09-06-2023
4,5,HC-V,Sumaya,Swabula,Kato,30-11-1930 00:00,2,20005,07-02-2019

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4115 entries, 0 to 4114
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   recnr         4115 non-null   int64
 1   facilityname  4115 non-null   object
 2   firstname     4113 non-null   object
 3   lastname      4031 non-null   object
 4   petname       3831 non-null   object
 5   dob           4115 non-null   object
 6   sex           4115 non-null   int64
 7   patientid     4115 non-null   int64
 8   visitdate     4115 non-null   object
dtypes: int64(3), object(6)
memory usage: 289.5+ KB